@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat&family=Chivo+Mono&family=Courgette&family=Dancing+Script:wght@600&family=IBM+Plex+Sans:ital,wght@1,700&family=Lobster&family=Londrina+Outline&family=Lugrasimo&family=Martian+Mono:wght@200;300&family=Open+Sans:ital,wght@0,400;0,800;1,300&family=Permanent+Marker&family=Prosto+One&family=Rubik+80s+Fade&family=Shantell+Sans&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
